appnope
asgiref
astroid
autopep8
aws-xray-sdk
awscli
backcall
bcrypt
boto
boto3
botocore
certifi
#cffi3
chardet
colorama
cookies
cryptography
decorator
defusedxml
Django
django-allauth
django-cors-headers
django-countries
django-crispy-forms
django-debug-toolbar
django-paypal
#django-s3-storages
django-storages
docker
docutils
ecdsa
future
geolocation-python
idna
ipython
ipython-genutils
isort
jedi
Jinja2
jmespath
jsondiff
jsonpickle
lazy-object-proxy
MarkupSafe
mccabe
mock
moto
oauthlib
parso
pep8
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pyaml
pyasn1
pycodestyle
pycparser
pycryptodome
Pygments
pylint
pylint-django
pylint-plugin-utils
#pypiwin32==223
python-dateutil
python-decouple
python-jose
python3-openid
pytz
#pywin32==227
PyYAML
requests
requests-oauthlib
responses
rsa
s3transfer
six
sqlparse
stripe
timeago
traitlets
typed-ast
urllib3
wcwidth
websocket-client
Werkzeug
wrapt
xmltodict
