.col-9,
.col-3 {
  margin-top: 2rem;
}

.blue {
  color: #0000ac;
  text-decoration: none;
}

.side-bar {
  width: 100%;
  position: sticky;
  z-index: 0;
  top: 13%;
  left: 7%;
  bottom: 0;
  background: #eee;
  overflow-x: hidden;
  padding: 0;
}

.box label {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.box label input {
  display: none;
  z-index: 3;
}

.box label span {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #444;
  border-radius: 4px;
  z-index: 2;
}

.box label input:checked ~ span {
  z-index: 2;
}

.box label input:checked ~ span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #008eff;
  z-index: 1;
  filter: blur(20px);
}

/* .nav-container {
  display: flex;
  justify-content: right;
  text-align: right;
} */

/* .cool-li {
  display: inline-block;
}

.cool-li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
} */

/* .cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
} */

/* .selected {
  background: #d9dfe4;
  opacity: 0.8;
  border-radius: 5px;
} */
#menu-title {
  display: block;
  margin: 1rem;
}


/* Media Queries */
@media (max-width: 1452px) {
  .menu {
    display: block;
    margin: 1rem;
  }

  .side-bar {
    width: 100%;
    position: sticky;
    z-index: 0;
    top: 13%;
    left: 7%;
    bottom: 0;
    background: #eee;
    overflow-x: hidden;
    padding: 0;
  }

  #menu-title {
    display: block;
    padding-bottom: 1rem;

}
}

@media (max-width: 850px) {
  .menu {
    display: block;
    margin: 1rem;
  }

  .side-bar {
    width: 100%;
    position: sticky;
    z-index: 0;
    top: 13%;
    left: 7%;
    bottom: 0;
    background: #eee;
    overflow-x: hidden;
    padding: 0;
  }

  #menu-title {
    display: block;
    padding-bottom: 1rem;

  }
}

@media (max-width: 767px) {
  .menu {
    display: block;
    margin: 1rem;
  }

  .side-bar {
    width: 100%;
    position: sticky;
    z-index: 0;
    top: 13%;
    left: 7%;
    bottom: 0;
    background: #eee;
    overflow-x: hidden;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .card-img-top {
    height: 100%;
    width: 100%;
  }

  .hide-sm {
    display: none;
  }

  .card {
    width: 90%;
    height: 100%;
  }

.menu {
  display: block;
    font-size: 65%;
}

.side-bar {
  width: 100%;
  position: sticky;
  z-index: 0;
  top: 13%;
  left: 7%;
  bottom: 0;
  background: #eee;
  overflow-x: hidden;
  padding: 0;
}

}

@media (max-width: 566) {

  .hide-sm,
  .hide-xs {
    display: none;
  }
 
}


@media (max-width: 487px) {
  .card-img-top {
    height: 100%;
    width: 100%;
  }

  .hide-sm,
  .hide-xs {
    display: none;
  }

  .card {
    width: 80%;
    height: 100%;
  }

  .sm-txt {
    font-size: 50%;
  }

  .side-bar {
    width: max-content;
    position: sticky;
    z-index: 0;
    top: 13%;
    left: 7%;
    bottom: 0;
    background: #eee;
    overflow-x: hidden;
    padding: 0;
  }

.options {
  width: max-content;
}


  /* .menu {
    padding: 1.25rem;
    display: none;
  } */

#menu-title {
  display: block;
  padding-bottom: 1rem;
}
}

