{% extends 'base.html' %}  {%block content %}

<!-- Image Slider -->
<div class="container-fluid">
  <div class="carousel slide story" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-fluid about"src="../static/images/inside.jpg" alt="Bend Oregon">
        <div class="carousel-caption">
          <p>Our Story</p>
        </div>
      </div>
      </div>
    </div>
  

</div>






<!--Main layout-->
<main>
<!-- Two Column -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class="mx-auto d-block building" src="../static/images/outside.jpg" alt="Restaurant Exterior">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
     <p class="about">We welcome you to “a little piece of Greece”. Nick's Greek Café has grown from its humble beginnings as a deli into a full-service, family restaurant.  We provide fresh, delicious meals in a fun, relaxed atmosphere. We follow authentic Greek recipes, and use ingredients imported from Greece.</p>
     <p class="about">We also pride ourselves on using locally sourced produce, dairy, and seafood. We also offer vegan, vegetarian and traditional Greek entrées as well as pastries, breads, and desserts. </p>
     <p class="about">We invite you to experience a taste of Greece with us!</p>
    
    </div>

  </div>
  </div>

</main>
<!--Main layout-->

<!--Footer-->
<footer class="text-center">
  <div class="container-fluid">
    <div class="row text-center">
       <div class="col-md-6">
        <a href="">
          <i class="fab fa-facebook-f mr-3 "></i>
        </a>

        <a href="">
          <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="">
          <i class="fab fa-instagram mr-3"></i>
        </a>

       <a href="">
          <i class="fab fa-yelp mr-3"></i>
        </a>

        <a href="">
          <i class="far fa-envelope mr-3"></i>
        </a>

      </div>
      <div class="col-md-6">
        
        <div class="footer-copyright py-3">
          <p class="mr-4 d-inline-block blue">© Nick's Greek Café</p>
          <a class = "d-inline-block blue" href="/">
            Contact us
          </a>
        </div>
      </div>
    
     </div>
    </div>
  
</footer>
<!--/.Footer-->
{% endblock %}
