{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Nick's Greek Café</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Josefin Sans">
<link href="{% static 'images/favicon.ico' %}" rel="icon" />
    <link href="{% static 'images/favicon.ico' %}" rel="icon"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5df482d9c3.js" crossorigin="anonymous"></script>

    <style type="text/css">
      html,
      body,
      header,
      .carousel {
        height: 60vh;
      }

      .message {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width: 20%;
        z-index: 2;
        top: 65px;
      }

      .bestseller {
        z-index: 2;
      }

      @media (max-width: 740px) {
        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }
    </style>

    <link rel="stylesheet" href="{% static 'css/products.css' %}" />
    {% block product_style %}{%endblock%} {%block logincss%} {%endblock%}
    {%block stripe %}{%endblock%}
  </head>

  <body>
    {% include "navbar.html" %}
    <div class="message">
      {% if messages %}{% for message in messages %}
      <div
        class="alert alert-dismissible hide
        {%if message.tag == error%}
        text-danger
        {%endif%}
        text-{{ message.tags }} alert-{{ message.tags }}
        "
        role="alert"
      >
        <strong>{{ message }}</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% block content %} {% endblock %}

    

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.4.1.min.js' %}"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="{% static 'js/popper.min.js' %}"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="{% static 'js/mdb.min.js' %}"
    ></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
      $(".message").hide();
      $(".message")
        .slideDown(500)
        .fadeTo(2000, 500)
        .slideUp(500);
    </script>
    <script>
      // category
      $(".mr-auto .nav-item .chooseCat").click(function(e) {
        e.preventDefault();

        var category = $(this)
          .text()
          .toLocaleLowerCase();

        $.ajax({
          url: "/category/" + category,
          method: "get",
          data: "",
          success: function(serverResponse) {
            var new_content = serverResponse;
            $(".categories").html(new_content);
          }
        });

        $(this)
          .parent()
          .addClass("active");
        $(this)
          .parent()
          .siblings()
          .removeClass("active");
      });

      $(".icons a i").hover(
        function() {
          $(this).addClass("text-warning");
        },
        function() {
          $(this).removeClass("text-warning");
        }
      );
    </script>
    {% block allproduct_js %} {% endblock %} {% block promojs %} {% endblock %}
    {% block stripejs %} {% endblock %}
  </body>
</html>
