{% extends 'base.html' %} {%block content %}

<!-- Image Slider -->
<div class="container-fluid">
  <div  class="carousel slide story" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-fluid about" src="../static/images/catering.jpg" alt="Bend Oregon">
        <div class="carousel-caption">
          <p >Catering</p>
        </div>
      </div>
      </div>
    </div>
  

</div>






<!--Main layout-->
<main>
<!-- Two Column -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class="mx-auto d-block plate" src="../static/images/catering_2.jpg" alt="Restaurant Exterior">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
     <p class="about">Nick's Greek Café is known for creating unique and memorable experiences. </p>
     <p class="about">From first birthdays to memorials, anniversaries to showers, our attentive and dedicated team can assist you with the planning of all the details for your occasion.</p>
     <p class="about">We offer full service catering with a mobile kitchen for fresh and delicious meals.</p>
     <p class="about">We would love to be a part of your next special event. OPA!</p>
    
    </div>

  </div>
  </div>

</main>
<!--Main layout-->
<!--Footer-->
<footer class="text-center">
  <div class="container-fluid">
    <div class="row text-center">
       <div class="col-md-6">
        <a href="">
          <i class="fab fa-facebook-f mr-3 "></i>
        </a>

        <a href="">
          <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="">
          <i class="fab fa-instagram mr-3"></i>
        </a>

       <a href="">
          <i class="fab fa-yelp mr-3"></i>
        </a>

        <a href="">
          <i class="far fa-envelope mr-3"></i>
        </a>

      </div>
      <div class="col-md-6">
        
        <div class="footer-copyright py-3">
          <p class="mr-4 d-inline-block blue">© Nick's Greek Café</p>
          <a class = "d-inline-block blue" href="/">
            Contact us
          </a>
        </div>
      </div>
    
     </div>
    </div>
  
</footer>
{% endblock %}
