<li class="list-group-item d-flex justify-content-between lh-condensed">
  <div>
    <h6 class="my-0">price</h6>
  </div>
  <span class="">${{ current_order.final_total }}</span>
</li>
<li class="list-group-item d-flex justify-content-between bg-light">
  <div class="text-success">
    <h6 class="my-0">Promo code</h6>
    <small>{{ code }}</small>
  </div>
  <span class="text-success">-${{ promo_discount }}</span>
</li>
<li class="list-group-item d-flex justify-content-between">
  <strong><span>Total (USD)</span></strong>
  <strong>${{ final_amount }}</strong>
</li>
